@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.light .main {
    font-family: 'Poppins', sans-serif;
    padding: 10%;
    color: black;
    background: white;
}
.light .left {
    text-align: left;
}
.light .purple {
    color: purple;
}
.light .blue {
    color: blue;
    text-decoration: none;
}
.light .red {
    color: red;
    text-decoration: none;
}
.light .purplehr {
    background: purple;
    border: 1px solid purple;
}
.light .redhr {
    background: red;
    border: 1px solid red;
}
.light .toggle {
    background: none;
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
    color: black;
}


.dark .main {
    font-family: 'Poppins', sans-serif;
    background: #313131;
    padding: 10%;
    color: white;
}
.dark .left {
    text-align: left;
}
.dark .purple {
    color: #bb86fc;
}
.dark .blue {
    color: #03dac5;
    text-decoration: none;
}
.dark .red {
    color: yellow;
    text-decoration: yellow;
}
.dark .purplehr {
    background: yellow;
    border: 1px solid yellow;
}
.dark .redhr {
    background: yellow;
    border: 1px solid yellow;
}
.dark .toggle {
    background: none;
    border: solid 1px yellow;
    padding: 10px;
    border-radius: 10px;
    color: yellow;
}